<?php
    /** @var \Magento\Catalog\Block\Product\View $block */

    $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $block->getProduct();
    $imageHelper = $this->helper(\Magento\Catalog\Helper\Image::class);
    $imageURL = $imageHelper->init($product, 'product_thumbnail_image')
        ->setImageFile($product->getFile())
        ->getUrl();
    $price = $this
        ->helper('Magento\Framework\Pricing\Helper\Data')
        ->currency(number_format($product->getPriceInfo()->getPrice('final_price')->getValue(),2),true,false);
?>

<div class="prod-image">
    <img
        alt="main product photo"
        class="gallery-placeholder__image"
        src="<?= /* @noEscape */  $imageURL ?>"
    />
</div>
<div class="prod-name"><?= /* @noEscape */  $product->getName() ?></div>
<div class="prod-price"><?= /* @noEscape */  $price ?></div>

<script type="text/x-magento-init">
    {
        ".product-info-popup": {
            "quickView": {}
        }
    }
</script>