.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 95;
}

.theme-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .3;
    z-index: 90;
}