.product-info-popup {
    background:#f3f3f3;
    padding:12px 14px 12px 14px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display:none;
    z-index:100;
    -webkit-box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.15);
}

.product-info-popup-inner {
    .lib-vendor-prefix-display(flex);
    .lib-vendor-box-align (center);
    justify-content: space-between;
    .lib-vendor-prefix-flex-wrap ();
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

    .prod-image,
    .prod-name,
    .prod-price {
        margin-right: 50px;
        font-size: 20px;
        font-weight: 700;
    }

    .box-tocart {
        margin: 0;

        .fieldset {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align (center);
            margin: 0;

            .field.qty {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align (center);
                margin: 0 50px 0 0;

                .label {
                    margin: 0 15px 0 0;
                    font-size: 20px;
                    font-weight: 700;
                }
            }

            .tocart {
                width: 250px;
            }
        }
    }

    .custom-block-text {
        width: 100%;
        text-align: center;
    }
}